*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboto', 'sans-serif';
}
body{
    background: #000;
}
body::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("/images/hero-img.jpg");
    background-position: center;
    opacity: 0.5;
}
nav{
    position: fixed;
    padding: 20px;
    width: 160px;
}
nav img{
    width: 100px;
}
.form-wrapper{
    position: absolute;
    padding: 60px;
    width: 430px;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.75);
}
.form-wrapper h2{
    font-size: 2rem;
    color: #fff;
}
form .form-control{
    position: relative;
    height: 50px;
    margin: 20px 0;
}
.form-control input{
    padding: 0 20px;
    height: 100%;
    width: 100%;
    font-size: 1rem;
    background: #333;
    border: none;
    outline: none;
    border-radius: 4px;
    color: #fff;
}
.form-control input:is(:focus, :valid){
    padding: 16px 20px 0
}
.form-control input:is(:focus, :valid) ~ label{
    position: absolute;
    font-size: 0.75rem;
    top: 20%;
}
.form-control label{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: #8c8c8c;
    cursor: pointer;
    pointer-events: none;
}

.form-wrapper button{
    width: 100%;
    padding: 16px;
    font-size: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    background: #ff5722;
    color: #fff;
    margin: 20px 0 10px;
}
.form-wrapper button:hover {
  background-color: #e64a19;
}
.form-wrapper :where(p,  small) {
    color: #8c8c8c;
}
.form-wrapper a {
    text-decoration: none;
}
.form-wrapper a:hover {
    text-decoration: underline;
}
.form-wrapper p{
    padding: 20px 0;
}
.form-wrapper p a{
    color: #fff;
}
form .form-help{
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px;
}
form .form-help :where(a, label){
    color: #fff;
}
.form-help .remember-me{
    display: flex;
}
.form-help .remember-me input{
    accent-color: #333;
    margin-inline: 5px;
}



@media (max-width: 740px) {
    body::before{
        display: none;
    }
    nav img{
        width: 140px;
    }
    nav, .form-wrapper{
        padding: 20px;
    }
    .form-wrapper{
        top: 43%;
        width: 100%;
    }
}